
.menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: #222;
    margin: 0 0;
    padding: 0;
    user-select: none;
}

.toggle {
    /*content: url(/assets/icons/menu/action.png);*/
    content: url(/assets/icons/menu/reunion.jpg);
    /*content: url('https://gallery.turbobutterfly.com/gallery/menu/menu.png');*/
    /*filter: invert(1);*/
    width: 24px;
}

.list {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #444;
    padding: 10px 0;
    z-index: 1;
}

.list_position_top {
    position: absolute;
    right: 0px;
}

.list_position_right {
    position: absolute;
    top: -10px;
    left: calc(100% - 5px);
}

.list_position_left {
    position: absolute;
    top: -10px;
    right: calc(100% - 5px);
}

.list_position_below {
    position: absolute;
    left: 30px;
}

.logo {
    display: inline-block;
    cursor: default;
}

.item {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    color: #888;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
}

.item img {
    filter: invert(1);
}

.text {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    color: #888;
    padding: 5px 10px;
    text-decoration: none;
    cursor: default;
}

@media (hover:hover) and (pointer: fine) {
    .item:hover {
        color: white;
    }
}

.disabled_item {
    display: inline-block;
    white-space: nowrap;
    color: #444;
    padding: 5px 10px;
    text-decoration: none;
    cursor: default;
}

.menu > .item {
    padding: 12px 10px;
}

.divider {
    position: relative;
    left: 30px;
    width: calc(100% - 60px);
    border-top: 1px solid red;
}

.list_icon_color {
    color: #888;
}

.link_icon_color {
    color: #080;
}

.back_icon_color {
    color: #088;
}

.disabled_icon_color {
    color: #800;
}

.text_icon_color {
    color: #800;
}

.link_icon {
    padding: 0 5px;
}

.link_content {
}