body {
    background-color: black;
    max-width: 1024px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER ------------------------------------------------------------------- */

.tb-header {
    color: #888;
    background-color: #400;
    padding: 5px 5px;
    overflow: auto;
    max-width: 1024px;
}

.tb-header::after {
    content: "";
    clear: both;
    display: table;
}

.tb-header-left {
    float: left;
}

.tb-header-right{
    float: right;
}

.tb-header-text-mobile {
    color: red;
}

.tb-header-text-desktop {
    display: none;
    color: white;
}

@media (pointer:fine) {
    .tb-header-text-mobile {
        display: none;
    }
    .tb-header-text-desktop {
        display: initial;
    }
}

/* NAV BAR ------------------------------------------------------------------ */

.tb-navbar {
    list-style-type: none;
    background-color: #000;
    margin: 5px 0;
    padding: 0;
    user-select: none;
}

.tb-navbar-toggle {
    color: #ccc;
    font-size: 2em;
}

.tb-navbar-toggle-restore {
    font-size: 0.5em;
}

.tb-navbar-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding: 10px 0;
    z-index: 1;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.tb-navbar-list-position-top {
    position: absolute;
}

.tb-navbar-list-position-right {
    position: absolute;
    top: -10px;
    left: calc(100% - 5px);
}

.tb-navbar-list-position-left {
    position: absolute;
    top: -10px;
    right: calc(100% - 5px);
}

.tb-navbar-list-position-below {
    position: absolute;
    left: 30px;
}

.tb-navbar-logo {
    display: inline-block;
    cursor: pointer;
}

.tb-navbar-item {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    color: #ccc;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
}

@media (hover:hover) and (pointer: fine) {
    .tb-navbar-item:hover {
        color: red;
    }
}

.tb-navbar-disabled-item {
    display: inline-block;
    white-space: nowrap;
    color: #444;
    padding: 5px 10px;
    text-decoration: none;
    cursor: default;
}

.tb-navbar > .tb-navbar-item {
    padding: 12px 10px;
}

.tb-navbar-divider {
    position: relative;
    left: 30px;
    width: calc(100% - 60px);
    border-top: 1px solid red;
}

.tb-navbar-list-icon-color {
    color: #880;
}

.tb-navbar-link-icon-color {
    color: #080;
}

.tb-navbar-back-icon-color {
    color: #088;
}

.tb-navbar-disabled-icon-color {
    color: #800;
}

.tb-navbar-text-icon-color {
    color: #800;
}

/* CONTENT AREA ------------------------------------------------------------- */

/* Clear floats after the columns */
.tb-content {
    display: flex;
    flex-wrap: wrap;
    color: #ddd;
    background-color: #222;
}

.tb-sidebar {
    flex: 20%;
    padding: 20px;
    order: 1;
}

.tb-main {
    flex: 80%;
    padding: 20px;
    order: 2;
}

@media screen and (max-width: 768px) {
    .tb-content {
        flex-direction: column;
    }

    .tb-sidebar {
        flex: 100%;
        padding: 10px;
        order: 2;
    }

    .tb-main {
        flex: 100%;
        padding: 0px;
        order: 1;
    }
}

/* FOOTER ------------------------------------------------------------------- */

.tb-footer {
    background-color: #000;
    padding: 5px 5px;
    overflow: auto;
}

    .tb-footer::after {
        content: "";
        clear: both;
        display: table;
    }

.tb-footer-links {
    float: right;
}

/* SOCIAL LINKS ------------------------------------------------------------- */

.tb-social-links {
}

.tb-social-link {
    color: #888;
    font-size: 2em;
    /*background-color: #ccc;*/
    /*
    width: 30px;
    height: 30px;
    text-align: center;
    border-width: 0px;
    border-radius: 20px;
    margin: 2px;
    */
    padding: 4px;
}

@media (hover:hover) and (pointer:fine) {
    .tb-social-links .bi-twitter-x:hover {
        color: #ff0;
    }

    .tb-social-links .bi-wordpress:hover {
        color: #0ff;
    }

    .tb-social-links .bi-youtube:hover {
        color: #f00;
    }

    .tb-social-links .bi-instagram:hover {
        color: #0f0;
    }

    .tb-social-links .bi-facebook:hover {
        color: #44f;
    }
}

@media (pointer:fine) {
    .tb-social-link {
        font-size: 1em;
    }
}

/* SETTINGS LINKS ----------------------------------------------------------- */

.tb-settings {
}

.tb-settings-link {
    color: #888;
    font-size: 2em;
    /*
    width: 30px;
    height: 30px;
    text-align: center;
    border-width: 0px;
    border-radius: 20px;
    margin: 2px;
    */
    padding: 4px;
}

.tb-settings .bi-person-fill:hover {
    color: #ccc;
}

.tb-settings .bi-three-dots-vertical:hover {
    color: #ccc;
}

@media (pointer:fine) {
    .tb-settings-link {
        font-size: 1em;
    }
}

/* BUDGET WORKSHEET --------------------------------------------------------- */

.tb-worksheet-button-left {
    height: 25px;
    padding: 0px 2px;
    margin: 0px 2px;
    opacity: 0.2;
    float: left;
}

.tb-worksheet-button-right {
    height: 25px;
    padding: 0px 2px;
    margin: 0px 2px;
    opacity: 0.2;
    float: right;
}

tr:hover .tb-worksheet-button-left {
    opacity: 1;
}

tr:hover .tb-worksheet-button-right {
    opacity: 1;
}


.tb-worksheet-buttons {
    background-color: #800;
}


    .tb-worksheet-buttons::after {
        content: "";
        clear: both;
        display: table;
    }

.tb-worksheet-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2px 10px;
    color: white;
    border-radius: 3px;
}

.tb-worksheet-menu-list {
    position: absolute;
    background-color: #400;
    padding: 2px 10px;
    color: white;
    border-radius: 3px;
}

.tb-worksheet-title {
    color: #ffffff !important;
    text-align: center !important;
    text-shadow: 0 0 5px #ff0000;
}

.tb-worksheet-text {
    color: #808080 !important;
}

.tb-worksheet-currency {
    color: #ffffff !important;
    text-align: right !important;
}

.tb-worksheet-section-text {
    color: #008080 !important;
}

.tb-worksheet-section-currency {
    color: #00ffff !important;
    text-align: right !important;
}

.tb-worksheet-category-text {
    color: #008000 !important;
}

.tb-worksheet-category-currency {
    color: #00cc00 !important;
    text-align: right !important;
}

.tb-worksheet-account-text {
    color: #c0c080 !important;
}

.tb-worksheet-account-currency {
    color: #ffff00 !important;
    text-align: right !important;
}
