body {
    background-color: black;
    max-width: 1024px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER ------------------------------------------------------------------- */

.tb-header {
    color: #888;
    background-color: #400;
    padding: 5px 5px;
    overflow: auto;
    max-width: 1024px;
}

.tb-header::after {
    content: "";
    clear: both;
    display: table;
}

.tb-header-left {
    float: left;
}

.tb-header-right{
    float: right;
}

.tb-header-text-mobile {
    color: red;
}

.tb-header-text-desktop {
    display: none;
    color: white;
}

@media (pointer:fine) {
    .tb-header-text-mobile {
        display: none;
    }
    .tb-header-text-desktop {
        display: initial;
    }
}

/* NAV BAR ------------------------------------------------------------------ */

/* The navbar container */
.tb-navbar {
    list-style-type: none;
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    .tb-navbar::after {
        content: "";
        clear: both;
        display: table;
    }

.tb-navbar-brand {
    display: block;
    float: left;
    /*padding: 8px 16px;*/
}

.tb-navbar-item,
.tb-navbar-dropdown {
    display: inline-block;
    float: left;
    color: #ccc;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

    .tb-navbar-item:hover,
    .tb-navbar-dropdown:hover {
        color: red;
    }

.tb-navbar-dropdown-content {
    display: none;
    position: absolute;

    list-style-type: none;
    overflow: hidden;

    background-color: #000;
    opacity: 0.9;
    /*min-width: 160px;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    padding: 10px 20px;
    z-index: 1;
    border-bottom: 2px solid red;
}

.tb-navbar-dropdown:hover .tb-navbar-dropdown-content {
    display: block;
}

/* SIDE NAV BAR ------------------------------------------------------------- */

.tb-navbar-side {
    /*list-style-type: none;*/
    color: #ccc;
    background-color: #000;
    /*margin: 0;
    padding: 0;*/
    /*overflow: hidden;*/
    font-size: 2em;
    user-select: none;
}

/*
    .tb-navbar-side::after {
        content: "";
        clear: both;
        display: table;
    }
*/
/*
.tb-navbar-side-brand {
    display: block;
    float: left;
    padding: 8px 16px;
}
*/
.tb-navbar-side-item /*,
.tb-navbar-side-dropdown*/ {
    display: block;
    /*float: left;*/
    /*text-align: center;*/
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.tb-navbar-side .bi-caret-left-fill {
    /*font-size: 0.5em;*/
    color: #088;
}

.tb-navbar-side .bi-caret-right-fill {
    /*font-size: 0.5em;*/
    color: #880;
}

.tb-navbar-side .bi-record-fill {
    /*font-size: 0.5em;*/
    color: #080;
}

.tb-navbar-side-dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    /*list-style-type: none;*/
    overflow: hidden;
    background-color: #000;
    opacity: 0.8;
    padding: 20px 0;
    z-index: 1;
    border-bottom: 2px solid red;
}
/*
    .tb-navbar-side-dropdown-content::after {
        content: "";
        clear: both;
        display: table;
    }
*/

/* CONTENT AREA ------------------------------------------------------------- */
/* Clear floats after the columns */
.tb-content {
    display: flex;
    flex-wrap: wrap;
    color: #ddd;
    background-color: #222;
}

.tb-sidebar {
    flex: 20%;
    padding: 20px;
    order: 1;
}

.tb-main {
    flex: 80%;
    padding: 20px;
    order: 2;
}

@media screen and (max-width: 768px) {
    .tb-content {
        flex-direction: column;
    }

    .tb-sidebar {
        flex: 100%;
        padding: 10px;
        order: 2;
    }

    .tb-main {
        flex: 100%;
        padding: 0px;
        order: 1;
    }
}

/* FOOTER ------------------------------------------------------------------- */

.tb-footer {
    background-color: #000;
    padding: 5px 5px;
    overflow: auto;
}

    .tb-footer::after {
        content: "";
        clear: both;
        display: table;
    }

.tb-footer-links {
    float: right;
}

/* SOCIAL LINKS ------------------------------------------------------------- */

.tb-social-links {
}

.tb-social-link {
    color: #888;
    font-size: 2em;
    /*background-color: #ccc;*/
    /*
    width: 30px;
    height: 30px;
    text-align: center;
    border-width: 0px;
    border-radius: 20px;
    margin: 2px;
    */
    padding: 4px;
}

@media (hover:hover) and (pointer:fine) {
    .tb-social-links .bi-twitter-x:hover {
        color: #ff0;
    }

    .tb-social-links .bi-wordpress:hover {
        color: #0ff;
    }

    .tb-social-links .bi-youtube:hover {
        color: #f00;
    }

    .tb-social-links .bi-instagram:hover {
        color: #0f0;
    }

    .tb-social-links .bi-facebook:hover {
        color: #44f;
    }
}

@media (pointer:fine) {
    .tb-social-link {
        font-size: 1em;
    }
}

/* SETTINGS LINKS ----------------------------------------------------------- */

.tb-settings {
}

.tb-settings-link {
    color: #888;
    font-size: 2em;
    /*
    width: 30px;
    height: 30px;
    text-align: center;
    border-width: 0px;
    border-radius: 20px;
    margin: 2px;
    */
    padding: 4px;
}

.tb-settings .bi-person-fill:hover {
    color: #ccc;
}

.tb-settings .bi-three-dots-vertical:hover {
    color: #ccc;
}

@media (pointer:fine) {
    .tb-settings-link {
        font-size: 1em;
    }
}

/* BUDGET WORKSHEET --------------------------------------------------------- */

.tb-worksheet-button-left {
    height: 25px;
    padding: 0px 2px;
    margin: 0px 2px;
    opacity: 0.2;
    float: left;
}

.tb-worksheet-button-right {
    height: 25px;
    padding: 0px 2px;
    margin: 0px 2px;
    opacity: 0.2;
    float: right;
}

tr:hover .tb-worksheet-button-left {
    opacity: 1;
}

tr:hover .tb-worksheet-button-right {
    opacity: 1;
}


.tb-worksheet-buttons {
    background-color: #800;
}


    .tb-worksheet-buttons::after {
        content: "";
        clear: both;
        display: table;
    }

.tb-worksheet-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2px 10px;
    color: white;
    border-radius: 3px;
}

.tb-worksheet-menu-list {
    position: absolute;
    background-color: #400;
    padding: 2px 10px;
    color: white;
    border-radius: 3px;
}

.tb-worksheet-title {
    color: #ffffff !important;
    text-align: center !important;
    text-shadow: 0 0 5px #ff0000;
}

.tb-worksheet-text {
    color: #808080 !important;
}

.tb-worksheet-currency {
    color: #ffffff !important;
    text-align: right !important;
}

.tb-worksheet-section-text {
    color: #008080 !important;
}

.tb-worksheet-section-currency {
    color: #00ffff !important;
    text-align: right !important;
}

.tb-worksheet-category-text {
    color: #008000 !important;
}

.tb-worksheet-category-currency {
    color: #00cc00 !important;
    text-align: right !important;
}

.tb-worksheet-account-text {
    color: #c0c080 !important;
}

.tb-worksheet-account-currency {
    color: #ffff00 !important;
    text-align: right !important;
}
