
.table {
    width: 100%;
    background-color: #222;
}

    .table td {
        padding: 0 5px;
    }

    .table tr:hover {
        background-color: #333;
    }

.row {
}

.button_left {
    height: 25px;
    padding: 0px 2px;
    margin: 0px 2px;
    opacity: 0.2;
    float: left;
}

.button_right {
    height: 25px;
    padding: 0px 2px;
    margin: 0px 2px;
    /*opacity: 0.2;*/
    float: right;
    color: #888;
}

tr:hover .button_left {
    opacity: 1;
}

tr:hover .button_right {
    /*opacity: 1;*/
    color: #fff;
}

.buttons {
}

    .buttons::after {
        content: "";
        clear: both;
        display: table;
    }

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2px 10px;
    color: white;
    border-radius: 3px;
}

.title {
    color: #ffffff !important;
    text-align: center !important;
    text-shadow: 0 0 5px #ff0000;
}

.text {
    color: #808080 !important;
}

.currency {
    color: #ffffff !important;
    text-align: right !important;
}

.section_text {
    color: #008080 !important;
}

.section_currency {
    color: #00ffff !important;
    text-align: right !important;
}

.category_text {
    color: #008000 !important;
}

.category_currency {
    color: #00cc00 !important;
    text-align: right !important;
}

.account_text {
    color: #c0c080 !important;
}

.account_currency {
    color: #ffff00 !important;
    text-align: right !important;
}

.modal_theme {
    background-color: #333;
}