body {
    background-color: black;
    max-width: 1024px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMPONENTS --------------------------------------------------------------- */

.tb-button {
    border-radius: 100rem;
    padding: 12px 16px;
    background: linear-gradient(170deg, #61DBFB, #2e849b) !important;
    width: 10rem;
    border: none;
    color: white;
    font-weight: 600;
    margin: 1rem 0;
    cursor: pointer;
}

/* FORMS -------------------------------------------------------------------- */

.tb-form {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

.tb-form-field {
    /*display: block;*/
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.tb-form-label {
    text-align: right;
    /*
    border-style: solid;
    border-color: red;
    border-width: 1px;
    */
}

.tb-form-label:after{
    content: ":";
}

.tb-form-input {
    background-color: lightyellow;
}

/* PUBLIC ------------------------------------------------------------------- */
.tb-public {
    color: magenta;
}

.tb-sign-up {
    color: cyan;
}

.tb-sign-in {
    color: yellow;
}

/* HEADER ------------------------------------------------------------------- */

.tb-header {
    color: #888;
    background-color: #400;
    padding: 5px 5px;
    overflow: auto;
    max-width: 1024px;
}

.tb-header::after {
    content: "";
    clear: both;
    display: table;
}

.tb-header-item {
    padding: 0 5px;
}

.tb-header-left {
    float: left;
}

.tb-header-right{
    float: right;
}

.tb-header-text-mobile {
    color: red;
}

.tb-header-text-desktop {
    display: none;
    color: white;
}

@media (pointer:fine) {
    .tb-header-text-mobile {
        display: none;
    }
    .tb-header-text-desktop {
        display: initial;
    }
}

/* CONTENT AREA ------------------------------------------------------------- */

/* Clear floats after the columns */
.tb-content {
    display: flex;
    flex-wrap: wrap;
    color: #ddd;
    background-color: #222;
}

.tb-page-title {
    color: #ffffff !important;
    text-align: center !important;
    text-shadow: 0 0 5px #ff0000;
    /*font-size: 1em;*/
}

.tb-sidebar {
    flex: 20%;
    padding: 20px;
    order: 1;
}

.tb-main {
    flex: 80%;
    padding: 20px;
    order: 2;
}

@media screen and (max-width: 768px) {
    .tb-content {
        flex-direction: column;
    }

    .tb-sidebar {
        flex: 100%;
        padding: 10px;
        order: 2;
    }

    .tb-main {
        flex: 100%;
        padding: 0px;
        order: 1;
    }
}

/* FOOTER ------------------------------------------------------------------- */

.tb-footer {
    background-color: #000;
    padding: 5px 5px;
    overflow: auto;
}

    .tb-footer::after {
        content: "";
        clear: both;
        display: table;
    }

.tb-footer-links {
    float: right;
}
