
.navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color: #400;
    margin: 5px 0;
    padding: 0;
    user-select: none;
}

.toggle {
    color: #ccc;
    font-size: 2em;
}

.toggle_restore {
    font-size: 0.5em;
}

.list {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding: 10px 0;
    z-index: 1;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.list_position_top {
    position: absolute;
    right: 0px;
}

.list_position_right {
    position: absolute;
    top: -10px;
    left: calc(100% - 5px);
}

.list_position_left {
    position: absolute;
    top: -10px;
    right: calc(100% - 5px);
}

.list_position_below {
    position: absolute;
    left: 30px;
}

.logo {
    display: inline-block;
    cursor: default;
}

.item {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    color: #888;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
}

.text {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    color: #888;
    padding: 5px 10px;
    text-decoration: none;
    cursor: default;
}

@media (hover:hover) and (pointer: fine) {
    .item:hover {
        color: red;
    }
}

.disabled_item {
    display: inline-block;
    white-space: nowrap;
    color: #444;
    padding: 5px 10px;
    text-decoration: none;
    cursor: default;
}

.tb_navbar > .item {
    padding: 12px 10px;
}

.divider {
    position: relative;
    left: 30px;
    width: calc(100% - 60px);
    border-top: 1px solid red;
}

.list_icon_color {
    color: #888;
}

.link_icon_color {
    color: #080;
}

.back_icon_color {
    color: #088;
}

.disabled_icon_color {
    color: #800;
}

.text_icon_color {
    color: #800;
}

.link_icon {
    padding: 0 5px;
}

.link_content {
}