
.tb-navbar {
    list-style-type: none;
    background-color: #000;
    margin: 5px 0;
    padding: 0;
    user-select: none;
}

.tb-navbar-toggle {
    color: #ccc;
    font-size: 2em;
}

.tb-navbar-toggle-restore {
    font-size: 0.5em;
}

.tb-navbar-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding: 10px 0;
    z-index: 1;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.tb-navbar-list-position-top {
    position: absolute;
}

.tb-navbar-list-position-right {
    position: absolute;
    top: -10px;
    left: calc(100% - 5px);
}

.tb-navbar-list-position-left {
    position: absolute;
    top: -10px;
    right: calc(100% - 5px);
}

.tb-navbar-list-position-below {
    position: absolute;
    left: 30px;
}

.tb-navbar-logo {
    display: inline-block;
    cursor: default;
}

.tb-navbar-item {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    color: #ccc;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
}

.tb-navbar-text {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    color: #ccc;
    padding: 5px 10px;
    text-decoration: none;
    cursor: default;
}

@media (hover:hover) and (pointer: fine) {
    .tb-navbar-item:hover {
        color: red;
    }
}

.tb-navbar-disabled-item {
    display: inline-block;
    white-space: nowrap;
    color: #444;
    padding: 5px 10px;
    text-decoration: none;
    cursor: default;
}

.tb-navbar > .tb-navbar-item {
    padding: 12px 10px;
}

.tb-navbar-divider {
    position: relative;
    left: 30px;
    width: calc(100% - 60px);
    border-top: 1px solid red;
}

.tb-navbar-list-icon-color {
    color: #880;
}

.tb-navbar-link-icon-color {
    color: #080;
}

.tb-navbar-back-icon-color {
    color: #088;
}

.tb-navbar-disabled-icon-color {
    color: #800;
}

.tb-navbar-text-icon-color {
    color: #800;
}
