
.aaaa_navBar{

}

.tb_logo {
    content: url(/assets/images/logo.png);
    padding: 0;
    width: 200px;
}

.root_theme {
    background-color: #000;
    margin: 5px 0;
    padding: 0;
}

/*  ------------------------------------------------------------------------  */

.list_theme {
    background-color: #000;
    padding: 10px 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.list_top_icon {
    content: url(/assets/icons/menu/down.png);
    filter: invert();
    width: 12px;
}

.list_top_disabled_icon {
    content: url(/assets/icons/menu/disabled.png);
    width: 16px;
}

.list_sub_icon {
    content: url(/assets/icons/menu/right.png);
    filter: invert();
    width: 12px;
}

.list_sub_disabled_icon {
    content: url(/assets/icons/menu/disabled.png);
    width: 16px;
}

/*  ------------------------------------------------------------------------  */

.item_theme {
    color: #ccc;
    padding: 5px 10px;
}

@media (hover:hover) and (pointer: fine) {
    .item_theme:hover {
        color: red;
    }
}

.disabled_item_theme {
    color: #444;
    padding: 5px 10px;
}

/*  ------------------------------------------------------------------------  */

.back_icon {
    content: url(/assets/icons/menu/left.png);
    filter: invert();
    width: 16px;
}

/*  ------------------------------------------------------------------------  */

.link_icon {
    content: url(/assets/icons/menu/link.png);
    width: 12px;
}

.link_action_icon {
    content: url(/assets/icons/menu/action.png);
    width: 12px;
}

.link_disabled_icon {
    content: url(/assets/icons/menu/disabled.png);
    width: 12px;
}

.link_disabled_action_icon {
    content: url(/assets/icons/menu/disabled.png);
    width: 12px;
}

/*  ------------------------------------------------------------------------  */

.text_theme {
    color: #ccc;
    padding: 5px 10px;
}

.divider_theme {
    border-top: 1px solid red;
}

.text_icon {
    content: url(/assets/icons/menu/dot.png);
    width: 16px;
}

/*  ------------------------------------------------------------------------  */
